alembic==0.7.6
Flask==0.10.1
Flask-Cache==0.13.1
Flask-Login==0.2.11
Flask-Migrate==1.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-WTF==0.11
itsdangerous==0.24
Jinja2==2.7.3
Mako==1.0.1
MarkupSafe==0.23
SQLAlchemy==1.0.4
Werkzeug==0.10.4
WTForms==2.0.2
